body {
  min-height: 1000px;
  padding-top: 70px;
}
.analytics {
  margin-top: 10px;
}
.analytics-item {
  padding-right: 0px;
  &:last-of-type {
    padding-right: 0;
  }
  margin-top: 5px;
}

.analytics-container {
  border-radius: 6px;
  background-color: #eee;
  padding: 5px;
}

.analytics-chart {
  height: 300px;
  width: 100%;
}
.hosts-add {
  position: relative;
  top: -10px;
  font-size: 20px;
  color: #5cb85c;
  text-align: right;

  &:hover {
    color: lighten(#5cb85c, 10%);
    cursor: pointer;
  }
}

.hosts-header {
  margin-top: 20px;
  h4 {
    position: relative;
    bottom: 20px;
    padding-left: 0;
  }
}

.table-title {
  font-size: 14px;
  font-weight: 600;
}

.table-value {
  font-size: 14px;
}

.logger {
  border-left: #eee;
  border-right: #eee;
  margin-top: 20px;
}

.logger-title {
  padding: 8px 0;
  span {
    font-size: 14px;
    font-weight: 600;
  }
  button {
    float: right;
  }
}

.logger-time {
  float: right;
  font-weight: 600;
}

.logger-list {
  height:240px;
  padding-right: 10px;
  overflow:hidden;
  overflow-y:scroll;
}

.panel-heading {
  padding: 16px 0px 26px 0;
  span {
    &.running {
      color: green;
    }
    &.partlyRunning {
      color: #5cb85c;
    }
    &.pending {
      color: #f0ad4e;
    }
  }
}